@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image: url("./img/wave.svg");
    background-repeat: no-repeat;
    background-size: 200%;
}



/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: absolute;
    top: 40%;
    right: 5%;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

#haikei {
    background: rgb(63, 94, 251, 1);
    background: linear-gradient(90deg, rgba(63, 94, 251, 0.5) 0%, rgba(252, 70, 107, 1) 100%);
    background-size: 120%;
    background-repeat: repeat-x;
    background-position: top;
}


.img-wrap {
    overflow: hidden;
    height: 0;
    padding: 35% 0;
    position: relative;
    opacity: 0.8;
}


.img-wrap img {
    min-width: 100%;
    min-height: 100%;
    max-width: 110%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: scale-down;
}



.swiper-pagination,
.swiper-pagination-bullets,
.swiper-pagination-horizontal {
    visibility: hidden;
}


.swiper-button-next,
.swiper-button-prev {
    color: white !important;
}



.slow-hover {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    --tw-grayscale: grayscale(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);

}

.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #343435;
    opacity: 80%;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.container:hover .overlay {
    width: 100%;
    left: 0;
}

.text {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}