@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image: url("./img/wave.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#contact {
    background-image: url("./img/wave.svg");
    background-size: 150%;
    background-repeat: repeat-x;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: absolute;
    top: 40%;
    right: 5%;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

#haikei {
    background: rgb(63,94,251,1);
    background: linear-gradient(90deg, rgba(63,94,251,0.5) 0%, rgba(252,70,107,1) 100%);
    background-size: 120%;
    background-repeat: repeat-x;
    background-position: top;
}


.img-wrap {
    overflow: hidden;
    height: 0;
    padding: 35% 0;
    position: relative;
    opacity: 0.8;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.img-wrap-reverse {
    overflow: hidden;
    height: 0;
    padding: 35% 0;
    position: relative;
    opacity: 0;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.img-wrap-reverse img {
    min-width: 50%;
    min-height: 100%;
    max-width: 110%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: scale-down;
}



.img-wrap img {
    min-width: 50%;
    min-height: 100%;
    max-width: 110%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: scale-down;
}

.swiper-button-next,
.swiper-button-prev ,
.swiper-pagination,
.swiper-pagination-bullets,
.swiper-pagination-horizontal {
    visibility: hidden;
}